body {
  font-family: 'Roboto', sans-serif;
}

header-portfolio {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

footer {
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

/* index.html start */
/* header section start*/
#top-line ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#top-line a {
  text-decoration: none;
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

#top-line a:hover {
  color: var(--IRIS, #4d5ae5);
  cursor: pointer;
}

header #logo-web-1 {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

header #logo-studio-1 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.hero-image .dark-bg {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.hero-image h1 {
  width: 496px;
  color: var(--WHITE, #fff);
  text-align: center;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-image button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

/* header section end*/

/* main section start */

#sections h2 {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

#sections h3 {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

#sections p {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* main section end */

/* footer section start */
footer h5 {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

footer #logo-web {
  /* display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center; */

  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

footer #logo-studio {
  /* display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center; */

  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* footer section end */

/* index.html end */

/* Main Page start*/
/* navigation start */

header #logo-web-2 {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
header #logo-studio-2 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

#nav-default a {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* navigation end */

/* .hero-image button:hover {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
} */
/* 
button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */
/* Main Page end*/

/* Portfolio page start*/

/* filterstable */
.filterstable {
  margin-left: 427px;
}

.filterstable button {
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;

  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
}

.filterstable button:hover {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;

  display: flex;
  padding: 12px 24px;
  align-items: flex-start;

  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filterstable .spaces {
  width: 24px;
}

/* services */
.services .spaces {
  width: 24px;
}

.services {
  margin-left: 156px;
  /* margin-RIGHT: 156PX; */
  margin-bottom: 120px;
  margin-top: 72px;
}

/* footer section start */

footer #text-web {
  /* display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center; */

  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
footer #text-studio {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* footer section end */
/* Portfolio page end*/
